 {% extends 'talkingtree/base.html' %}
 {%  block title %} Question List {% endblock %}
 {%  block body %}

    <h4> Question: {{ question.question_text }}</h4>


    {% if all_answer %}
        <h4> List of Answers:[{{ count_answer }}] </h4>
        <ul>
            {% for answer in all_answer %}
            <li>
            <div class="well" style="border: 0.5px solid gray;  font-size: 1.2em;  background-color: #eeeeee ">
                <div class="row">
                    <div class="" style="margin-left: 5px; color:black">
                        <div  class="col-sm-12">
                            <a href="{% url 'talkingtree:comment' question.id answer.answer.id %}" style="margin-left: 5px; color:black"> {{ answer.answer.answer_text }}</a>
                        </div>
                    </div>
                </div>
            <div class="row" style="margin-left: 5px">
                <h6> Auther: {{  answer.answer.user  }} <br>
                     Date: {{ answer.answer.created_date }}
                </h6>
            </div>

                <div class="row">
                    <div class="col-sm-2">
                        <form action="{% url 'talkingtree:upvotes_answer' answer.answer.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit"
                                    {% if answer.vote == True %}
                                        class="btn btn-primary btn-xs"
                                    {% else %}
                                        class="btn btn-denser btn-xs"
                                    {% endif %}>
                                <span class="glyphicon glyphicon-arrow-up"></span>
                                . Upvote . {{ answer.count_upvoteanswer }}
                            </button>
                        </form>
                    </div>

                    <div class="col-sm-2">
                        <form action="{% url 'talkingtree:downvotes_answer' answer.answer.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit"
                                    {% if answer.vote == False %}
                                        class="btn btn-primary btn-xs"
                                    {% else %}
                                        class="btn btn-denser btn-xs"
                                    {% endif %}>
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                . Downvote . {{ answer.count_downvoteanswer }}
                            </button>
                        </form>
                    </div>

                    {% if answer.answer.user == user %}
                        <div class="col-sm-1">
                            <form method="POST" action="{% url 'talkingtree:delete-answer' question.id  answer.answer.id  %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dense btn-xs">
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                </button>
                            </form>
                        </div>
                    <div class="col-sm-1">
                        <div class="row">
                            <a href="{% url 'talkingtree:update-answer' question.id answer.answer.id  %}" class="btn btn-info btn-xs">
                                Update
                                <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span></a>
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% if user.is_authenticated %}
                    <div  class="col-sm-1">
                        <a href="{% url 'talkingtree:add-comment' question.id answer.answer.id  %}" class="btn btn-info btn-xs">
                        Comment
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span></a>
                    </div>
                {% endif %}
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>

        {% else %}
       <div class="alert alert-danger">
        No answer found. People are searching for a better answer to this question.
       </div>
    {% endif %}
             <div class="well row" style="margin-left: 5px">
                 {% if user.is_authenticated %}
                    <div  class="col-sm-9"><a href="{% url 'talkingtree:add-answer' question.id %}">
                        Answer this question
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span></a>
                    </div>
                 {% endif %}
                <div  class="col-sm-3">
                    <a href="/talkingtree/"> Back to home page  <span  class="glyphicon glyphicon-home" aria-hidden="true"> </span></a>
                </div>
            </div>

 {% endblock %}

