    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%  block title %} Talking Tree {% endblock %}
    </title>

      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'talkingtree/style.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    </head>
    <body>
<1>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'talkingtree:question' %}">
              <span  class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>TalkingTree</a>
        </div>
        <ul class="nav navbar-nav ">
          <li> <a class="navbar-brand" href="{% url 'talkingtree:question' %}">
              Questions  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          </a></li>
         {% if user.is_authenticated %}
            <li>
              <a class="navbar-brand" href="{% url 'talkingtree:add-question' %}">
                     Add Question <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </li>
         {% endif %}

        </ul>
          <form class="navbar-form navbar-left" role="search" method="get" action="#">
            <input type="text" class="form-control" name = "q" value="" placeholder="search a question">
             <button class="form-control btn btn-info" name = "searchBtn" >Search Question
             <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
             </button>
          </form>
          <ul class="nav navbar-nav navbar-right">


                    {% if user.is_authenticated %}
                       <li>
                           <a class="navbar-brand" href="{% url 'talkingtree:myquestions' %}">
                                My Questions
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </a>
                       </li>
                        <li>
                           <a class="navbar-brand" href="{% url 'talkingtree:myanswers' %}">
                                My Answers
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </a>
                       </li>
                      <li class="">
                            <a class="navbar-brand" href="{% url 'talkingtree:profile' %}">
                                Profile <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a>
                      </li>
                        <li class="">
                         <div class="navbar-brand">
                            Hi {{ user.username }}!
                            </div>
                        </li>
                        <li>
                            <a class="navbar-brand" href="{% url 'talkingtree:logout' %}">
                                Logout  <span  class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </li>
                        {% else %}
                        <li class="">
                          <a class="navbar-brand" href="{% url 'talkingtree:register' %}">Register</a>
                        </li>
                        <li class="">
                          <a class="navbar-brand" href="{% url 'talkingtree:login' %}">Login</a>
                        </li>
                    {% endif %}


              <li></li>

          </ul>
      </div>
    </nav>
    <div style="margin: 5px 150px 150px 150px">
        {% block body %}
        {% endblock %}

{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
    </div>

    </body>
    </html>
