 {% extends 'talkingtree/base.html' %}
 {%  block title %} Question List {% endblock %}
 {%  block body %}
     {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'talkingtree/style.css' %}">

     {% if not user.is_authenticated %}
     <div class="well">
         <p><strong>TalkingTree </strong> is a place to share knowledge and better understand the world. You can ask a question and you can give answer to others questions ans you can also comment on an answer.</p>
     </div>
    {% endif %}

     <h1> List of Questions </h1> [ Ordered by : Most recent first ]
    <ol>
        {% for question in all_question %}
        <li>
        <div class="well">

        <div class="row" style="margin-left: 5px">
            <div  class="col-sm-12">
                <a href="{% url 'talkingtree:answer' question.id %}"> {{ question.question_text }}</a>
                [by: {{ question.user }}] - {{ question.created_date }}
            </div>
        </div>
            <div class="row">
            {% if question.user == user %}
                <div class="col-sm-3">

                <form method="POST" action="{% url 'talkingtree:delete-question'  question.id  %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete Question">
                </form>
            </div>

             <div  class="col-sm-3"><a href="{% url 'talkingtree:update-question' question.id  %}"> Update this Question
                <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>
            </a>
            </div>
            {% endif %}
                {% if user.is_authenticated %}
                    <div  class="col-sm-3"><a href="{% url 'talkingtree:add-answer' %}"> Answer this Question
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        </li>
        {% endfor %}
    </ol>

 {% endblock %}
