 {% extends 'talkingtree/base.html' %}
 {%  block title %} Question List {% endblock %}
 {%  block body %}
     {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'talkingtree/style.css' %}">

     {% if not user.is_authenticated %}
     <div class="well">
         <p><strong>TalkingTree </strong> is a place to share knowledge and better understand the world. You can ask a question and you can give answer to others questions ans you can also comment on an answer.</p>
     </div>
    {% endif %}

     {% if is_search_result == True %}
        <h3> Search result </h3> Search result : {{ count_questions }} [ Ordered by : Most recent first ]
         {% if count_questions == 0 %}
             <div class="well">
                    No search result found. Please change your search keyword and try again.
             </div>
          {% endif %}
     {% else %}
         <h3> List of Questions </h3> [ Ordered by : Most recent first ]
     {% endif %}
    <ul>
        {% for question in questions %}
        <li>
        <div class="well">

        <div class="row" style="margin-left: 5px">
            <div  class="col-sm-12">
                <a href="{% url 'talkingtree:answer' question.id %}">
                <span class="question" style="font-weight:bold;  font-size: 1.5em; color:black">
                    {{ question.question_text }}
                </span>
                </a>
                <br>
                <h6>Question requested by: {{ question.user }} on {{ question.created_date }}</h6>
            </div>
        </div>
            <div class="row"  style="margin: 5px 5px 5px 5px">
            {% if question.user == user %}
                <div class="col-sm-1">

                <form method="POST" action="{% url 'talkingtree:delete-question'  question.id  %}">
                    {% csrf_token %}
                    <button class="btn btn-denser btn-xs" type="submit" value="Delete">
                        <span  class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                    </button>
                </form>
            </div>

             <div  class="col-sm-2">
                 <a  href="{% url 'talkingtree:update-question' question.id  %}"  class="btn btn-info btn-xs"> Update
                <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>
            </a>
            </div>
            {% endif %}
                {% if user.is_authenticated %}
                    <div  class="col-sm-2">
                        <a href="{% url 'talkingtree:add-answer' question.id %}" role="button"  class="btn btn-info btn-xs"> Answer
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        </li>
        {% endfor %}
    </ul>

 {% endblock %}
