
 {% extends 'talkingtree/base.html' %}
 {%  block title %} change password {% endblock %}
 {%  block user_active %} active{% endblock %}
 {%  block body %}

    <h3> Change Password </h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post">
                            {% csrf_token %}
                                {% include 'talkingtree/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button class="btn btn-success" > change Password </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 {% endblock %}

