 {% extends 'talkingtree/base.html' %}
 {%  block title %} My Profile Page {% endblock %}
 {%  block body %}
    {% if profile %}

        <h1> User Details:</h1>
        <div class="well">
            <h3>User Name: {{ profile.username }}</h3>
            <h4>First Name:
                {% if profile.first_name %}
                    {{ profile.first_name }}
                    {% else %}
                    No data provided
                    {% endif %}
                    </h4>
            <h4>Last Name:
                {% if profile.last_name %}
                    {{ profile.last_name }}
                    {% else %}
                    No data provided
                    {% endif %}
                    </h4>
            <h4>Email: {{ profile.email }}</h4>
        </div>
    {% endif %}
     <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'talkingtree:update_user' profile.id  %}"> Update User details. </a>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'talkingtree:question' %}"> Back to home page</a>
        </div>
     </div>

 {% endblock %}

